<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Mission to Mars</title>
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
</head>
<body>
    <div class='container'>
        <!-- Add jumbotron to header -->
        <div class='jumbotron text-center'>
            <h1>Mission to Mars</h1>
            <!-- Button to activate scraping script -->
            <p><a class='btn btn-danger btn-lg' href='/scrape' 
            role='button'>Scrape New Data</a></p>
        </div>
    
        <!-- Section for Mars News -->
        <div class='row' id='mars-news'>
            <div class='col-md-12'>
                <h2 class='text-center'>Latest Mars News</h2>
                <h4 class='text-center'>{{mars.news_title}}</h4>
                <p>{{mars.news_paragraph}}</p>
            </div>
        </div>

        <!-- Section for Featured Image and Facts Table -->
        <div class='row' id='mars-featured-image'>
            <div class='col-md-8'>
                <h2 class='text-center'>Featured Mars Image</h2>

                <!-- if images is False/None/non-existent, then default to error message -->
                <img 
                    src="{{mars.featured_image | default('static/images/error.png', true) }}" 
                    class="img-responsive" 
                    alt="Responsive image"
                />
            </div>

            <div class='col-md-4'>
                <!-- Mars Facts -->
                <div class='row', id='mars-facts'>
                    <h2 class='text-center'>Mars Facts</h2>
                    {{mars.facts | safe}}
                </div>
            </div>
        </div>

        <!-- Section for Hemisphere Titles & Images -->
        <div class='row' id='hemis-title'>
            <div class='col-md-12'>
                <div class='media'>
                    <div class='media-body text-center'>
                        <h2>Images Of Hemispheres</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class='row' id='mars_list'>
            {% for dict in mars.hemis %}
                <div class='col-md-3'>
                    <div class='thumbnail'>
                        <a href="{{dict.img_url | default('static/images/error.png', true) }}" target="_blank">
                            <!-- if images is False/None/non-existent, then default to error message -->
                            <img src="{{dict.img_url | default('static/images/error.png', true) }}"  
                                alt="Thumbnail image">
                            <div class='caption text-center'>
                                <div class='media'>
                                    <div class='media-body'>
                                        <h4 class='media-heading text-center'>{{dict.title}}</h4>
                                    </div>
                                </div>
                            </div>  
                        </a> 
                    </div>         
                </div>
            {% endfor %}
        </div>

    </div>
</body>
</html>